<div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
  <div class="upload-btn-wrapper" style="width: 800px">
    <button mat-raised-button class="mr-5">
      <img class="mr-3" src="./assets/img/ico_escolher_habilitado.svg" />
      escolher arquivo(s)
    </button>

    <input
      id="singleFile"
      name="myfile"
      class="btnUpload"
      type="file"
      multiple
      [fileUploadInputFor]="fileUploadQueue"
    />

    <app-mat-file-upload-queue
      #fileUploadQueue
      [listaArquivos]="listaArquivos"
      multiple
    >
      <app-mat-file-upload-multi
        *ngFor="let file of fileUploadQueue.files; let i = index"
        [file]="file"
        [id]="i"
        [pasta]="pasta"
        (removeEvent)="removeEntry($event)"
      >
      </app-mat-file-upload-multi>
      <p class="checkerror" style="padding-top: 5px"></p>
    </app-mat-file-upload-queue>
  </div>
</div>
