.container-fluid {
  margin-top: 40px;
}

.caption {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

::ng-deep
  app-tabela.col-md-12.ng-star-inserted
  div.main-content
  div.container-fluid
  div.row
  div.col-md-12
  div.card {
  margin-top: 0px;
  padding-top: 0px;
}

::ng-deep.ENTRADA {
  background-color: #31d7314f;
}

::ng-deep.SAIDA {
  background-color: #ff1c1c91;
}