<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 scroll-95">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div
              class="col-md-10 caption"
              style="margin-top: auto; margin-bottom: auto"
            >
              Manage Labels
            </div>
            <div class="col-md-2 d-flex flex-row-reverse">
              <button
                mat-button
                class="btn btn-info btn-fill"
                (click)="backToList()"
              >
                Voltar para a Listagem</button
              >
            </div>
          </div>
        </div>
        <div class="content">
          <form [formGroup]="clienteFormGroup" #clienteForm="ngForm">
            <div class="row">
              <div class="col-md-3">
                <label>Name *</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>

              <div class="col-md-4">
                <label>Description *</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="footer">
          <div class="stats">
            <i class="fa fa-history"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row col-md-12 d-flex flex-row-reverse">
    <div class="col-md-2">
      <button
        mat-raised-button
        color="primary"
        style="width: 100%"
        (click)="save()"
        [disabled]="!clienteForm.valid"
      >
        Save
      </button>
    </div>
  </div>
</div>
