<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 scroll-95">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div
              class="col-md-10 caption"
              style="margin-top: auto; margin-bottom: auto"
            >
              Inserir / Cadastrar Novo Cliente
            </div>
            <div class="col-md-2 d-flex flex-row-reverse">
              <button
                mat-button
                class="btn btn-info btn-fill"
                (click)="backToList()"
              >
                Voltar para a Listagem
              </button>
            </div>
          </div>
        </div>
        <div class="content">
          <form [formGroup]="formGroup" #clienteForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Nome / Razão Social</mat-label>
                  <input matInput formControlName="cliente" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>País</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Brasil"
                    formControlName="local"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option
                      *ngFor="let enum of statusClienteEnum | keyvalue"
                      [value]="enum.key"
                    >
                      {{ enum.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Email Responsável</mat-label>
                  <input matInput formControlName="emailResponsavel" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Email Financeiro</mat-label>
                  <input matInput formControlName="emailFinanceiro" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Como me Encontrou</mat-label>
                  <input matInput formControlName="comoMeEncontrou" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Quem Indicou</mat-label>
                  <input matInput formControlName="quemIndicou" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Tipo de Cobrança</mat-label>
                  <mat-select formControlName="tipoCobranca">
                    <mat-option
                      *ngFor="let enum of tipoCobrancaEnum | keyvalue"
                      [value]="enum.key"
                    >
                      {{ enum.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Ultimo Valor Cobrado</mat-label>
                  <input matInput formControlName="ultimoValorCobrado" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Total Recebido</mat-label>
                  <input matInput formControlName="totalRecebido" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Total de Projetos</mat-label>
                  <input matInput formControlName="projetosTotal" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Início do Último Projeto</mat-label>
                  <input
                    matInput
                    [matDatepicker]="ultimoProjetoInicioPicker"
                    formControlName="ultimoProjetoInicio"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="ultimoProjetoInicioPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #ultimoProjetoInicioPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Entrega do Último Projeto</mat-label>
                  <input
                    matInput
                    [matDatepicker]="ultimoProjetoEntregaPicker"
                    formControlName="ultimoProjetoEntrega"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="ultimoProjetoEntregaPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #ultimoProjetoEntregaPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Data do Primeiro Contato</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dataPrimeiroContatoPicker"
                    formControlName="dataPrimeiroContato"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dataPrimeiroContatoPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dataPrimeiroContatoPicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Moeda</mat-label>
                  <mat-select formControlName="moeda">
                    <mat-option [value]="'USD'">Dólar</mat-option>
                    <mat-option [value]="'EUR'">Euro</mat-option>
                    <mat-option [value]="'BRL'">Real</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="footer">
          <div class="stats">
            <i class="fa fa-history"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row col-md-12 d-flex flex-row-reverse">
    <div class="col-md-2">
      <button
        mat-raised-button
        color="primary"
        style="width: 100%"
        (click)="saveEntry()"
        [disabled]="!clienteForm.valid"
      >
        Save
      </button>
    </div>
  </div>
</div>
