.caption {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

.project-name {
  font-size: 1.3em;
  font-weight: bold;
}

.tempo-gasto {
  font-size: 1.3em;
  font-weight: bold;
  color: green;
}

.linha {
  padding: 5px 0px 5px 5px;
}
