<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div
              class="col-md-10 caption"
              style="margin-top: auto; margin-bottom: auto"
            >
              Gerenciar Tempo Trabalhado
            </div>
            <div class="col-md-2 d-flex flex-row-reverse"></div>
          </div>
        </div>
        <div class="content">
          <form [formGroup]="fluxoDeCaixaFormGroup" #fluxoDeCaixaForm="ngForm">
            <div class="row">
              <div class="col-md-2">
                <mat-form-field>
                  <input
                    matInput
                    [ngxMatDatetimePicker]="dataInicioPicker"
                    placeholder="Hora de Início"
                    formControlName="dataInicio"
                    #dataInicioInput
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dataInicioPicker"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker [showSeconds]="true" #dataInicioPicker>
                  </ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input
                    matInput
                    [ngxMatDatetimePicker]="dataTerminoPicker"
                    placeholder="Hora de Término"
                    formControlName="dataTermino"
                    #dataTerminoInput
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dataTerminoPicker"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker [showSeconds]="true" #dataTerminoPicker>
                  </ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="projetoList$ | async as projetoList">
                <mat-form-field>
                  <mat-label>Projeto</mat-label>
                  <mat-select formControlName="projeto">
                    <mat-option
                      *ngFor="let projeto of projetoList"
                      [value]="projeto"
                    >
                      {{ projeto }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-1">
                <button
                  mat-raised-button
                  color="primary"
                  style="width: 100%"
                  (click)="saveEntry()"
                  [disabled]="!fluxoDeCaixaForm.valid"
                >
                  {{
                    dataInicioInput.value && dataTerminoInput.value
                      ? "Gravar"
                      : "Iniciar"
                  }}
                </button>
              </div>
              <div class="col-md-1">
                <button
                  mat-raised-button
                  color="danger"
                  style="width: 100%"
                  (click)="cancel()"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="footer">
          <app-tabela
            class="col-md-12"
            *ngIf="data$ | async as data"
            [displayedColumns]="displayedColumns"
            [dados]="data"
            [showHeader]="false"
            (acaoSelecionada)="executarAcao($event)"
          ></app-tabela>
        </div>
      </div>
    </div>
  </div>
</div>
