<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <app-home-dashboard
          *ngIf="proximaEntregaList$ | async as dataEmitirPagamento"
          [titulo]="'Próximas Entregas'"
          [subTitulo]="
            'Lista de Próximas entregas com base no Fluxo de Trabalho que estejam EM ANDAMENTO'
          "
          [icone]="'event_note'"
          [data]="dataEmitirPagamento"
          [classe]="'proximas-entregas'"
        ></app-home-dashboard>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <app-home-dashboard
          *ngIf="emitirNfeList$ | async as dataEmitirNFe"
          [titulo]="'Emitir NF'"
          [subTitulo]="
            'Lista de Todos os projetos aguardando Emissão de Nota Fiscal'
          "
          [icone]="'receipt_long'"
          [data]="dataEmitirNFe"
          [classe]="'emitir-nf'"
        ></app-home-dashboard>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <app-home-dashboard
          *ngIf="pagamentoAReceberList$ | async as dataPagamentoReceber"
          [titulo]="'Pagamentos a Receber'"
          [subTitulo]="'Lista de todos os Projetos aguardando pagamento'"
          [icone]="'attach_money'"
          [data]="dataPagamentoReceber"
        ></app-home-dashboard>
      </div>
    </div>
  </div>
</div>
