.background-default {
  font-size: 1.3em;
  padding: 5px;
}

.table-row {
  height: 33px;
}

.list-transaction {
  text-align: left;
}

.card .emitir-nf {
  background: linear-gradient(60deg, #57bb8a, #57bb8a);
  background-color: rgba(0, 0, 0, 0);
}
