<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <app-home-dashboard
          [titulo]="'Próximas Entregas'"
          [subTitulo]="
            'Lista de Próximas entregas com base no Fluxo de Trabalho que estejam EM ANDAMENTO'
          "
          [icone]="'event_note'"
          [data]="proximaEntregaList"
          [classe]="'proximas-entregas'"
          [showFooter]="true"
          [footer]="
            'Aqui aparecerão os items com DATA DE ENTREGA SUPERIOR/IGUAL A HOJE, PROJETO ENTREGUE = FALSO e com STATUS EM ANDAMENTO'
          "
        ></app-home-dashboard>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <app-home-dashboard
          [titulo]="'Emitir NF'"
          [subTitulo]="
            'Lista de Todos os projetos aguardando Emissão de Nota Fiscal'
          "
          [icone]="'receipt_long'"
          [data]="emitirNfeList"
          [classe]="'emitir-nf'"
          [showFooter]="true"
          [footer]="'Aqui aparecerão os items SEM NFe e com STATUS CONCLUIDO'"
        ></app-home-dashboard>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <app-home-dashboard
          [titulo]="'Em Aprovação'"
          [subTitulo]="'Lista de Todos os projetos aguardando Aprovação'"
          [icone]="'check_circle_outline'"
          [data]="emAprovacaoList"
          [classe]="'em-aprovacao'"
          [showFooter]="true"
          [footer]="
            'Aqui aparecerão os items com PROJETO ENTREGUE = FALSO e com STATUS AGUARDANDO FEEDBACK'
          "
        ></app-home-dashboard>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <app-home-dashboard
          [titulo]="'Pagamentos a Receber'"
          [subTitulo]="'Lista de todos os Projetos aguardando pagamento'"
          [icone]="'attach_money'"
          [data]="pagamentoAReceberList"
          [classe]="'pagamento-a-receber'"
          [showFooter]="true"
          [footer]="
            'Aqui aparecerão os items com PAGAMENTO recebido = FALSO e NFe EMITIDA = VERDADEIRO'
          "
        ></app-home-dashboard>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <app-home-dashboard
          [titulo]="'Pagamentos Atrasados'"
          [subTitulo]="'Lista de todos os Projetos com Pagamento Atrasado'"
          [icone]="'attach_money'"
          [data]="pagamentoAtrasadoList"
          [classe]="'pagamento-atrasado'"
          [showFooter]="true"
          [footer]="
            'Aqui aparecerão os items com STATUS CONCLUIDO, DATA DE PAGAMENTO ANTERIOR/IGUAL A HOJE e PAGAMENTO RECEBIDO = FALSO'
          "
        ></app-home-dashboard>
      </div>
    </div>
  </div>
</div>
